 <html>
            <head>
            <title>Response</title>
            </head>
            <body>
             <h1>Spell check results:</h1><br>
             <p id="textout">Submitted text: ''' + str(escape(request.form['inputtext'])) + '''</p><br>
             <p id="misspelled">Misspelled words: ''' + formatted_result + '''</p><br><br>
             <p><a href="/spell_check">Try another!</a></p>
             <p><a href="/logout">Log out</a></p>
            </body>
            </html>
            '''